@charset "UTF-8";

:root {
    --cor0e:#e2e2e2;
    --cor0c:#c9d6ff;
    --cor05:#512da8;
    --cor0f:#fff;
    --cor0e:#eee;
    --cor0cc: #ccc;
    --cor03:#333;
    
}


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--cor0c);
    background: linear-gradient(to right, var(--cor0e), var(--cor0c));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.conteiner {
    background-color: var(--cor0f);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.397);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
    
.conteiner p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.conteiner span {
    font-size: 12px; 
}

.conteiner a {
    color: var(--cor03);
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}